body {
    font-family: 'Karla', sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: peachpuff;
    padding: 5px;
    display: flex;
    height: 30px;
    align-items: center;
    position: fixed;
    width: 100%;
}

nav h3 {
    margin: 0;
}

#blog-list {
    padding: 10px;
}

form {
    padding: 60px 10px 10px;
    display: flex;
    flex-direction: column;
    /* gap: 5px; */
    background-color: lightblue;
    padding-bottom: 20px;
}

button {
    padding: 5px 20px;
    background-color: peachpuff;
    border-style: none;
    border-bottom: 2px double magenta;
}

#post-title {
    padding: 5px;
    border-style: none;
}

#post-body {
    padding: 50px;
    border-style: none;    
}